.image-description {
  font-size: 0.7em;
  margin-top: -2em;
  display: block;
}

a.router-link-active, a:hover {
  /* color: #ffec99 !important; */
}

.no-break {
  white-space: pre-wrap;
  word-break: keep-all;
}

.blog-name {
  font-size: 1.2em;
  color: var(--color-primary-500);
}

.logo-about {
  float: left;
  width: 20em;
  padding-right: 1em;
  aspect-ratio: auto;
}

.profile-about {
  float: right;
  width: 6em;
  margin-left: 1em;
}

.decorated-section {
  display: block;
  width: 20em;
  border-radius: 1em;
  box-shadow: 0 0 1em var(--color-primary-500);
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.decorated-section a {
  display: inline-block;
  margin-left: 1em;
}

.product {
  display: flex;
  align-items: center; /* Vertically center the image and content */
  justify-content: center; /* Center the entire content */
  width: 100%;
}

.product img {
  align-self: center; /* Ensures the image is vertically centered */
  margin-right: auto; /* Pushes everything else to the right */
  display: block;
}

.product-content {
  flex-grow: 1; /* Takes up remaining space */
  display: flex;
  flex-direction: column; /* Aligns items in rows (stacked) */
  justify-content: center; /* Centers the content vertically */
  text-align: left; /* Centers text inside */
  font-size: 0.8em;
  padding-left: 4em;
}

.product-description {
  text-align: left;
  text-justify: inter-word;
}

.product-description em {
  font-weight: bold;
}

.product a {
  margin-left: 0;
}

.talks-cover {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

.talk-section {
  width: 100%;
}

.talk-conf {
  font-size: 0.75em;
}

.talk-title {
  position: relative;
  margin-top: -1em;
  font-weight: bold;
}

.talk-description {
  font-size: 0.75em;
}

@media (min-width: 640px) {
  header .main-nav {
    font-size: var(--text-base-fontSize) !important;
    white-space: nowrap;
  }

  .decorated-section {
    display: none
  }
}