.image-description {
  font-size: 0.7em;
  margin-top: -2em;
  display: block;
}

a.router-link-active, a:hover {
  color: #ffec99 !important;
}

.no-break {
  white-space: pre-wrap;
  word-break: keep-all;
}

.blog-name {
  font-size: 1.2em;
  color: #ffec99;
}

.logo-about {
  float: left;
  width: 20em;
  padding-right: 1em;
  aspect-ratio: auto;
}

.profile-about {
  float: right;
  width: 6em;
  margin-left: 1em;
}