---
layout: "./main.njk"
eleventyComputed:
  ogUrl: "https://www.knowhowcode.dev/articles/{{ page.fileSlug }}/"
---

<sl-card>
  <like-container slug="{{ slug or page.fileSlug }}"></like-container>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</sl-card>